# OS X
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# User-specific stuff:
.idea/

# XHProf
xhprof_*

# Sass
.sass-cache
*.css.map

# Exports
*.gz
*.sql
*.zip

# PHPStorm
atlassian-ide-plugin.xml
